
@{
    ViewBag.Title = "Index";
}

<hr />
<div ng-app="AppModule">    
    <div ng-view></div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angularModules")
